
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>San pham tieu bieu</h2>
<div class="row container">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="SN1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="SN1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="SN1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="SN1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>
<div class="row container">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="SN1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="SN1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="SN1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="SN1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>
